Source: nhsbuntu-default-settings
Section: metapackages
Priority: optional
Maintainer: Rob Dyke <rob@neovahealth.co.uk>
Build-Depends: debhelper (>= 7.0.50~),
 ubuntu-defaults-builder
Standards-Version: 3.9.7

Package: nhsbuntu-default-settings
Architecture: all
Depends: ${misc:Depends},
 ${ubuntudefaults:Depends}
Recommends: ${ubuntudefaults:Recommends}
Provides: ubuntu-default-settings
Conflicts: ubuntu-default-settings
Description: Default settings for NHSbuntu customizations
 This package contains customized default settings.
